<!doctype html>
<html lang="eng">
<head>
    <meta charset="utf-8">
    <title>Dinner Tracking Guide</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <style>.content {padding-top: 0px;}</style>
</head>

<body>
	{%- block topbar -%}
	<div class ="topbar">
		<div class="fill">
			<div class="container">
				<h2>
					<a href="/" class="brand">Dinner Tracking Guide</a> <small>Starring flask, mogodb and others</small>
				</h2>
			</div>
			<ul class="secondary-nav">
				<li class = "add">
					<a href="{{ url_for('recipes.create') }}" class="btn primary">Create new Recipe</a>
				</li>
			</ul>
		</div>
	</div>
	{%- endblock -%}

	<div class="container">
		<div class="content">
			{% block page_header %}{% endblock %}
			{% block content %}{% endblock %}
		</div>
	</div>
	{% block js_footer %}
	{% endblock %}
</body>
</html>