{% extends "design_homepage_copy.html" %}

{% block page_contents %}
	<table>
		<thead>
			<th>Title</th>
			<th>Created</th>
			<th>Actions</th>
		</thead>
	{% for recipe in recipes %}
		<tr>
			<th><a href="{{ url_for("users.detail", slug=recipe.slug) }}">{{ recipe.slug }}</th>
			<td>{{ recipe.created_at.strftime('%H:%M %Y-%m-%d') }}</td>
			<td><a href="{{ url_for("users.edit", slug=recipe.slug) }}" class="btn primary">Edit</a></td>
		</tr>
		<h2><a href="{{ url_for('users.detail', slug=recipe.slug) }}">{{ recipe.title }}</a></h2>
	{% endfor %}
{% endblock %}