{% extends "base.html" %}

{% block content %} <!-- this is so the website has a common feel -->
	<table class="condensed-table zebra-striped">
		<thead>
			<th>Title</th>
			<th>Created</th>
			<th>Actions</th>
		</thead>
	{% for recipe in user.recipes %}
		<tr>
			<th><a href="{{ url_for('users.edit', slug=recipe.slug) }}">{{ recipe.title }}</th>
			<td>{{ recipe.created_at.strftime('%H:%M %Y-%m-%d') }}</td>
			<td><a href="{{ url_for("users.edit", slug=recipe.slug) }}" class="btn primary">Edit</a></td>
		</tr>
		<h2><a href="{{ url_for('users.detail', slug=recipe.slug, author=author) }}">{{ recipe.title }}</a></h2>
	<p>{{ recipe.instructions|truncate(100) }}</p>
	<!-- <p>
		{{ recipe.created_at.strftime('%H:%M %Y-%m-%d') }} |
		{% with total=recipe.comments|length %}
			{{ total }} comment {%- if total > 1%}s{%- endif -%}
		{% endwith %}
	</p> -->
	{% endfor %}
{% endblock %}